<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 600px;margin: auto;min-width: 600px">
      <mat-card style="background: rgba(255,255,255,0.7)">
        <h1
          style="margin:auto;margin-top: 30px;margin-bottom:10px;font-weight: 600;color: #1E90FF;">
          Form Create Singer</h1>
        <mat-error class="alert form-angular">{{status}}</mat-error>
        <mat-dialog-content class="mat-typography">
          <form class="form-angular" #f="ngForm" (ngSubmit)="f.form.valid && createSong()" novalidate>

            <!--            name-->
            <input name="name" #name="ngModel" [(ngModel)]="form.name" placeholder="Name" matInput required/>
            <mat-error *ngIf="name.hasError('required')">The name is required!</mat-error>
            <mat-error *ngIf="name.hasError('minlength')">The name must at least 3 character!</mat-error>

            <br>
            <!--            avatar-->
            <mat-label>Avatar</mat-label>
            <app-upload-avatar (giveURLtoCreate)="onUpload($event)"></app-upload-avatar>
            <br>

            <!--            lyrics-->
            <mat-label>Lyrics</mat-label>
            <mat-form-field style="width: 100%">
              <textarea matInput name="lyrics" #lyrics="ngModel" [(ngModel)]="form.lyrics"
                        required></textarea>
            </mat-form-field>
            <mat-error *ngIf="lyrics.hasError('required')">The lyrics is required!</mat-error>


            <mat-label>audio</mat-label>
            <app-upload-file (giveURLtoCreate)="onUploadFile($event)"></app-upload-file>


            <!--            category-->

            <br>
            <mat-label>Choose a Category</mat-label>
            <mat-form-field style="width: 100%">
              <mat-label>category</mat-label>
              <mat-select [(ngModel)]="form.category" name="category" [formControl]="validateCategory">
                <mat-option *ngFor="let category of listCategory" [value]="category">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="validateCategory.hasError('required')">Please select 1 category</mat-error>
            </mat-form-field>

            <!--            singer list-->
            <br>
            <mat-form-field  style="width: 100%">
              <mat-label>listSinger</mat-label>
              <mat-select  multiple [(ngModel)]="form.singerList" name="singerList">
                <mat-option *ngFor="let singer of singerList" [value]="singer">{{singer.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>

            <button style="margin:auto;width: 50%" mat-stroked-button class="mat-button-toggle-group">Create Song</button>
            <button style="width: 50%" class="mat-raised-button" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Render list Song</button>
          </form>
        </mat-dialog-content>
      </mat-card>
    </div>
  </div>
</div>
