<div class="container">
  <div class="row">
    <div class="col-12" style="max-width: 600px;margin: auto;">
      <mat-card style="background: rgba(255,255,255,0.7)">
        <h1 style="margin:auto;margin-top: 50px;margin-bottom: 10px;font-weight: 600;color: #333333;text-shadow: 0px 0px 10px #65a4ec">Form Delete Singer</h1>
        <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>No</button>
      </mat-card>
    </div>
  </div>
</div>
