<div class="container">
  <div class="content">
    <a routerLink="">
      <!--      <mat-icon>arrow_back</mat-icon>-->
    </a>
    <h1 style="font-weight: 600">Thịnh hành</h1>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Xếp hạng</th>
        <td mat-cell *matCellDef="let element ; let i = index"> {{i + 1}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><img [routerLink]="['/detail-song/',element.id]" src="{{element.avatar}}" alt="" width="50" height="50"></td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên bài hát</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/detail-song/',element.id]"> {{element.name}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>Lượt nghe</th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>

</div>

