*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color: #EFEFEF;
  --text-color: black;
  --main-color: rgba(255, 255, 255, 0.69);
}
body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 28px 12%;
  transition: all .50s ease;
  border-bottom: 1px solid gray;
}
.logo{
  display: flex;
  align-items: center;
  color: dodgerblue;

}

.logo p{
  /*color: var(--text-color);*/
  font-size: 1.7rem;
  font-weight: 800;
  font-family: sans-serif;
}

.navbar{
  display: flex;
}
.navbar a:hover{
  color: dodgerblue;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
  font-family: sans-serif;
  font-weight: 500;
}
.navbar a.active{
  color: var(--main-color);
}
.main{
  display: flex;
  align-items: center;
  margin-right: -50px;
}
.main a{
  margin-left: 10px;
  margin-right: 25px;
  color: var(--text-color);
  font-size: 1.1rem;
  transition: all .50s ease;
  font-family: sans-serif;
  font-weight: 500;
  margin-top: -9.4px;
}
.user{
  display: flex;
  align-items: center;
}
.user i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}
.main a:hover{
  color: dodgerblue;
}
#menu-icon{
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.searchBox{
  display: flex;
  margin-left: 20px;
}
.fa-magnifying-glass{
  position: relative;
  left: 10px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
  font-size: 1.3rem;
}
.fa-magnifying-glass.active{
  right: 0;
}
.searchBox input{
  font-family: sans-serif;
  font-weight: 500;
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  background: rgb(242, 242, 242);
  border-bottom: 1.5px solid gray;
  color: dimgrey;
  border-radius: 2px;
  padding-left: 5px;
  padding-bottom: 5px;
  align-items: center;
}

@media (max-width: 1280px) {
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 1090px) {
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 65px;
    right: -100%;
    width: 270px;
    background: #eceaea;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: dodgerblue;
  }
  .navbar a.active{
    color: var(--text-color);
  }
  .navbar.open{
    right: 2%;
  }
  .searchBox input{
    width: 85%;
  }
  .searchBox{
    padding-bottom: 15px;
  }
}
body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}
.design-name{
  color:red;
}
h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #F6B21B;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F6B21B;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
