/*@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');*/
:root {
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: #f6f5f7;
  color: black;
  padding-bottom: 3rem;
}

img {
  display: block;
  /*border-radius: 50%;*/
}
a{
  text-decoration: none;
}
.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #333;
  cursor: pointer;
  height: auto;

  box-shadow: 2px 4px 15px 0px #e0e0e1;
}

.gallery-image {
  width: 100%;
  object-fit: cover;
}
.info h4{
  color: black;
  margin-top: 5px;
  margin-left: 3px;
}
.info h4:hover{
  color: cornflowerblue;
  transition: all 0.2s linear;
}

@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.5rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
}
