<div class="container">
  <div class="content">
    <h1 style="font-weight: 600">Singer</h1>
  </div>

  <div class="gallery">
    <div *ngFor="let singer of singerList" class="gallery-item col-lg-6" tabindex="0">
      <a  [routerLink]="['/detail-singer/',singer.id]">
        <img  src="{{singer.avatar}}"
             class="gallery-image" alt="">
      </a>
      <div class="info">
        <a [routerLink]="['/detail-singer/',singer.id]"><h4>{{singer.name}}</h4><marquee behavior="alternate" width="30px"><i class="fa-solid fa-chevrons-right"></i></marquee></a>
      </div>
    </div>


  </div>
  <button (click)="openDialogCreate()" type="submit" mat-stroked-button color="accent"
          class="mat-button-toggle-group btn-outline-primary">
    Create Singer
    <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
  </button>
  <mat-paginator [length]="totalElements"
                 (page)="nextPage($event)"
                 [pageSizeOptions]="[5, 10, 15, 100]"
                 aria-label="Select page">
  </mat-paginator>
</div>
