<a routerLink="/song" class="container">
  <mat-icon>arrow_back</mat-icon>
</a>

<div class="blog-slider">

  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="{{song?.avatar}}"
             alt="">
      </div>
      <div class="blog-slider__content">
        <div class="blog-slider__title">{{song?.name}}</div>
        <div *ngFor="let singer of song?.singerList">
          <span class="blog-slider__code"  [routerLink]="['/detail-singer/',singer.id]">{{singer.name}}</span>
        </div>
                <p class="blog-slider__text">{{song?.lyrics}}</p>

        <div class="play_song">

          <div class="btn-song">

          </div>

          <div class="music-song">
            <audio controls [src]="song?.url" (timeupdate)="onTimeUpdate($event)">
            </audio>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

