<a routerLink="/playlist" class="container">
  <mat-icon>arrow_back</mat-icon>
</a>

<div class="blog-slider">

  <div class="blog-slider__wrp swiper-wrapper">
    <div class="show_song_no" style="float: right">
      <span id="present">1</span>
      <span>/</span>
      <span id="total"></span>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img id="track_image">
      </div>
      <!--- song img --->
      <div>
        <div class="blog-slider__content">
          <div class="blog-slider__title" id="title"></div>
          <div  *ngFor="let  sg of singer" ><span>{{sg.name}}</span></div>
        </div>
        <p class="blog-slider__text"></p>


        <div class="blog-slider__content">
          <div class="play-song">
            <div class="btn-song">
              <button (click)="previousSong()" id="pre"><i id="i_pre" class="fa fa-step-backward" aria-hidden="true"></i>
              </button>
              <button (click)="justPlay()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
              <button (click)="nextSong()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
              <button id="auto" (click)="autoplaySwitch()"><i class="fa-solid fa-repeat" aria-hidden="true"></i>
              </button>
            </div>
            <!--- song duration part --->
            <div class="music-song">
              <div class="time-song">
                <input type="range" min="0" max="100" value="0" id="duration_slider" (change)="changeDuration()">
              </div>

              <div class="volume-song">
                <p id="volume_show">90</p>
                <!--        <i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>-->
                <i class="bi bi-megaphone" (click)="muteSound()" id="volume_icon"></i>
                <input type="range" min="0" max="100" value="90" (click)="volumeChange()" id="volume">
              </div>
            </div>


          </div>

        </div>
      </div>



    </div>
<!--    &lt;!&ndash;- right part -&ndash;&gt;-->
<!--    <div class="right">-->
<!--&lt;!&ndash;      <div class="show_song_no">&ndash;&gt;-->
<!--&lt;!&ndash;        <p id="present">1</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>/</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p id="total"></p>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;- song title & artist name -&ndash;&gt;-->
<!--&lt;!&ndash;      <p id="title" style="font-size: 2.0vw"></p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div *ngFor="let  sg of singer">&ndash;&gt;-->
<!--&lt;!&ndash;        <p>{{sg.name}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;- middle part -&ndash;&gt;-->

    </div>
  </div>
<!--</div>-->



<div class="container">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Song of playlist
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let element ; let i = index"> {{i + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef> Avatar</th>
          <td mat-cell *matCellDef="let element"><img src="{{element.avatar}}" alt="" width="50" height="50"></td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="deleteSong(element.id)" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        Symbol Column

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </mat-expansion-panel>

</div>

<div style="margin-bottom: 20px">
  <button mat-button (click)="openDialogCreate()" type="submit">Add song
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
