<!--<div class="blog-slider">-->
<!--  <div class="blog-slider__wrp swiper-wrapper">-->
<!--    <div class="blog-slider__item swiper-slide">-->
<!--      <div class="blog-slider__img">-->
<!--        <img src="{{playlist?.avatar}}"-->
<!--             alt="">-->
<!--      </div>-->
<!--      <div class="blog-slider__content">-->
<!--        <div class="blog-slider__title">{{playlist?.name}}</div>-->
<!--        <div *ngFor="let song of playlist?.songList">-->
<!--          <span class="blog-slider__code">{{song.name}}</span>-->
<!--        </div>-->
<!--&lt;!&ndash;        <p class="blog-slider__text">{{}}</p>&ndash;&gt;-->

<!--        <div class="play_song">-->
<!--          <div class="btn-song">-->
<!--            <button><i class="fa-solid fa-shuffle"></i></button>-->
<!--            <button><i class="fa-solid fa-backward-step"></i></button>-->
<!--            &lt;!&ndash;                        <button><i class="fa-regular fa-circle-play"></i></button>&ndash;&gt;-->
<!--            <button><i class="fa-regular fa-circle-pause"></i></button>-->
<!--            <button><i class="fa-solid fa-forward-step"></i></button>-->
<!--            <button><i class="fa-solid fa-repeat"></i></button>-->
<!--          </div>-->

<!--          <div class="music-song">-->
<!--&lt;!&ndash;            <audio controls [src]="song?.url">&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash;                url&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </audio>&ndash;&gt;-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div class="tong">
  <div class="main">

    <p class="logo"><i class="bi bi-music-player"></i>NĐC Player</p>
    <!--- left part --->

    <div class="left">
      <button (click)="openDialogCreate()" type="submit" mat-stroked-button color="accent"
              class="mat-button-toggle-group btn-outline-primary">
        Create Category
        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
      </button>
      <!--- song img --->
      <img id="track_image">
      <div class="volume">
        <p id="volume_show">90</p>
        <!--        <i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>-->
        <i class="bi bi-megaphone" (click)="muteSound()" id="volume_icon"></i>
        <input type="range" min="0" max="100" value="90" (click)="volumeChange()" id="volume">
      </div>
    </div>
    <!--- right part --->
    <div class="right">
      <div class="show_song_no">
        <p id="present">1</p>
        <p>/</p>
        <p id="total">5</p>
      </div>
      <!--- song title & artist name --->
      <p id="title" style="font-size: 2.0vw"></p>
      <p id="artist">Artist name</p>
      <!--- middle part --->
      <div class="middle">
        <button (click)="previousSong()" id="pre"><i id="i_pre" class="fa fa-step-backward" aria-hidden="true"></i></button>
        <button (click)="justPlay()" id="play" ><i class="fa fa-play" aria-hidden="true"></i></button>
        <button (click)="nextSong()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
      </div>
      <!--- song duration part --->
      <div class="duration">
        <input type="range" min="0" max="100" value="0" id="duration_slider" (change)="changeDuration()">
      </div>
      <button id="auto" (click)="autoplaySwitch()">Auto play <i class="fa fa-circle-o-notch" aria-hidden="true"></i></button>
    </div>
  </div>

</div>
